In [1]:
#import library
import pickle
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
np.random.seed(42) #constant output

In [2]:
#read data
ReadData=pd.read_csv(r"E:\بايثون\P14-Part2-Regression\Section 7 - Multiple Linear Regression\Python\50_Startups.csv")

In [4]:
#show sample from data
print(ReadData.head())
print("-----------------------------------------------------------------------")
print (ReadData.tail())

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94
-----------------------------------------------------------------------
    R&D Spend  Administration  Marketing Spend       State    Profit
45    1000.23       124153.04          1903.93    New York  64926.08
46    1315.46       115816.21        297114.46     Florida  49490.75
47       0.00       135426.92             0.00  California  42559.73
48     542.05        51743.15             0.00    New York  35673.41
49       0.00       116983.80         45173.06  California  14681.40

In [5]:
#show missing data
print(ReadData.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB
None

In [6]:
# get all the unique values in the 'state' column
state = ReadData['State'].unique()
state.sort()
print(state)

['California' 'Florida' 'New York']

In [7]:
#convert data in coluom state and remove empty space
ReadData["State"]=ReadData["State"].str.lower()
ReadData["State"]=ReadData["State"].str.strip()

In [8]:
# get all the unique values in the 'state' column
state = ReadData['State'].unique()
state.sort()
print(state)

['california' 'florida' 'new york']

In [9]:
#map data 
x=ReadData.drop("Profit",axis=1) #input
y=ReadData["Profit"] #output

In [10]:
#encoder data 
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [3])], remainder='passthrough')
X = np.array(ct.fit_transform(x))

In [11]:
#split data
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [12]:
#choose model 
model=LinearRegression()

In [13]:
#train model 
model.fit(x_train,y_train)

LinearRegression()